* {
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f6e4ffa9;
  border-radius: 3rem;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #dddddda2;
  outline: none;
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f1e1fffa;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #8247a7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.932);
}

.form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.nav-item {
  border-radius: 23em;
}

button {
  background-color: #984caf;
  color: rgba(255, 255, 255, 0.596);
  cursor: pointer;
  border: #88489c;
  border-radius: 23em;
}

button:hover {
  background-color: #ac76d8;
  border-radius: 23em;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}

.bg {
  background-color: #f5e0ffa9;
}

.form-control:focus {
  box-shadow: none;
  border-color: #fceeffc4;
}

.back:hover {
  color: #c87ad6;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #f3e4fc;
  cursor: pointer;
  border: none 1px #ba68c8;
}
