* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #6f5c9200;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #dddddda2;
  outline: none;
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #a07dc0;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ddc6eb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3em;
  font-size: 16px;
}

.nav-item {
  background-color: #89489ca9;
  border-radius: 23em;
}

button {
  background-color: #984caf6c;
  color: rgba(0, 0, 0, 0.596);
  cursor: pointer;
  border: #89489ca9;
}

button:hover {
  background-color: #89489ca9;
  border-radius: 23em;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}

.bg {
  background-color: #d9b8dd;
}

body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}